 .u-section-1 {
  min-height: 597px;
  margin: 0;
}

.u-section-1 .u-gallery-1 {
  height: 479px;
  margin-top: 120px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  top: 200px;
  padding: 5px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: auto;
  right: 0;
  padding: 5px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -157px 50px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  --radius: 5px;
  font-weight: 400;
  --color-var: #ec6608;
  margin: 17px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    height: 479px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-right: initial;
    margin-top: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    top: 204px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 200px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -156px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 31px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    height: 490px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 204px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -122px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin: 17px calc(((100% - 720px) / 2)) 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 119px;
  }

  .u-section-1 .u-carousel-control-1 {
    bottom: 38px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -146px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin: 19px calc(((100% - 340px) / 2)) 50px;
  }
} .u-section-2 {
  --color-var: #ec6608;
}

.u-section-2 .u-sheet-1 {
  min-height: 309px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 309px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.0625rem;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 358px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  width: 315px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 47px auto 0;
}

.u-section-2 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 195px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  width: 51px;
  height: 51px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 10px 6px 0 10px;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  width: 51px;
  height: 51px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 10px 6px 0 10px;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  width: 51px;
  height: 51px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 10px 6px 0 10px;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  width: 51px;
  height: 51px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 10px 6px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-list-1 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-2 {
    width: 121px;
  }

  .u-section-2 .u-list-item-2 {
    transform: scale(1.1);
  }

  .u-section-2 .u-text-3 {
    width: 121px;
  }

  .u-section-2 .u-text-4 {
    width: 121px;
  }

  .u-section-2 .u-text-5 {
    width: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 300px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 1px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1.1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 512px;
}

.u-section-3 .u-group-1 {
  min-height: 458px;
  height: auto;
  width: 701px;
  margin: 27px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 458px;
  width: 701px;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin: -261px 106px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-custom-html-1 {
    width: 641px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 363px;
}

.u-section-4 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 317px;
  --gap: 31px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.625rem;
  margin: 27px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 264px;
  height: 1px;
  margin: 13px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 3px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.625rem;
  margin: 27px auto 0;
}

.u-section-4 .u-shape-2 {
  width: 264px;
  height: 1px;
  margin: 13px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 3px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.625rem;
  margin: 27px auto 0;
}

.u-section-4 .u-shape-3 {
  width: 264px;
  height: 1px;
  margin: 13px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 3px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20.666666666666668px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.666666666666668px));
    min-height: 261px;
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.5px);
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 440px;
}

.u-section-5 .u-group-1 {
  min-height: 440px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 414px;
  background-image: url("images/card.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 207px;
  background-image: url("images/card1.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-image-3 {
  min-height: 207px;
  background-image: url("images/card2.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 207px;
  background-image: url("images/card3.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  min-height: 207px;
  background-image: url("images/card4.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 341px;
  }

  .u-section-5 .u-image-2 {
    min-height: 171px;
  }

  .u-section-5 .u-image-3 {
    min-height: 171px;
  }

  .u-section-5 .u-image-4 {
    min-height: 171px;
  }

  .u-section-5 .u-image-5 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 522px;
  }

  .u-section-5 .u-image-2 {
    min-height: 262px;
  }

  .u-section-5 .u-image-3 {
    min-height: 262px;
  }

  .u-section-5 .u-image-4 {
    min-height: 262px;
  }

  .u-section-5 .u-image-5 {
    min-height: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 392px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 393px;
  }

  .u-section-5 .u-image-3 {
    min-height: 393px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 393px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    min-height: 393px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 247px;
  }

  .u-section-5 .u-image-2 {
    min-height: 247px;
  }

  .u-section-5 .u-image-3 {
    min-height: 247px;
  }

  .u-section-5 .u-image-4 {
    min-height: 247px;
  }

  .u-section-5 .u-image-5 {
    min-height: 247px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-3,
.u-section-5 .u-image-3:before,
.u-section-5 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-4,
.u-section-5 .u-image-4:before,
.u-section-5 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-5,
.u-section-5 .u-image-5:before,
.u-section-5 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 560px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 31px 570px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 407px;
  --color-var: #ec6608;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.9375rem;
  line-height: 1.4;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 407px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 437px;
}

.u-section-7 .u-group-1 {
  min-height: 437px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 37px 0 0;
}

.u-section-7 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(25% - 17.25px);
  grid-template-columns: repeat(4, calc(25% - 17.25px));
  min-height: 287px;
  --gap: 23px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-7 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-7 .u-shape-1 {
  height: 1px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 3px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-7 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-7 .u-shape-2 {
  height: 1px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: 3px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 25px;
}

.u-section-7 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-7 .u-shape-3 {
  height: 1px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 3px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 25px;
}

.u-section-7 .u-icon-4 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-7 .u-shape-4 {
  height: 1px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  margin: 3px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11.5px);
    grid-template-columns: repeat(2, calc(50% - 11.5px));
    min-height: 726px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 900;
    font-size: 1.125rem;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 69px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 520px;
}

.u-section-8 .u-group-1 {
  min-height: 516px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 422px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-8 .u-text-2 {
  font-size: 0.75rem;
  margin: 65px auto 0 158px;
}

.u-section-8 .u-text-3 {
  font-size: 0.75rem;
  margin: -14px 165px 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 158px 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0 159px;
}

.u-section-8 .u-image-1 {
  width: 161px;
  height: 154px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 118px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 120px;
  height: 107px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -66px 99px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 106px;
  height: 56px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px auto 0 113px;
}

.u-section-8 .u-image-4 {
  width: 118px;
  height: 112px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -132px auto 0 122px;
}

.u-section-8 .u-image-5 {
  width: 97px;
  height: 116px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -145px auto 0 176px;
}

.u-section-8 .u-text-6 {
  font-size: 0.75rem;
  margin: -129px auto 0 20px;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px auto 0 29px;
}

.u-section-8 .u-text-8 {
  font-size: 0.75rem;
  margin: 6px 21px 0 auto;
}

.u-section-8 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 23px 0 auto;
}

.u-section-8 .u-text-10 {
  font-size: 0.75rem;
  margin: -1px auto 0 3px;
}

.u-section-8 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px auto 0 12px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-8 .u-custom-html-1 {
  height: auto;
  min-height: 422px;
  width: 510px;
  margin: 0;
}

.u-section-8 .u-text-12 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -45px auto 0 11px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 129px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 129px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 130px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 97px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 102px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 97px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 98px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-8 .u-text-1 {
    font-weight: 900;
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-6 {
    margin-top: -129px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 591px;
}

.u-section-9 .u-group-1 {
  min-height: 532px;
  height: auto;
  margin: 30px 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 8.25px));
  min-height: 405px;
  --gap: 11px;
  grid-auto-columns: calc(25% - 8.25px);
}

.u-section-9 .u-list-item-1 {
  --border-color-var: #c7c7c7;
  --radius: 5px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  height: 175px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 4px;
  --top-right-radius: 4px;
}

.u-section-9 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-9 .u-text-3 {
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 11px 0;
}

.u-section-9 .u-btn-1 {
  --radius: 5px;
  font-size: 0.875rem;
  background-image: none;
  --hover-color-var: #ec6608cc;
  font-weight: 500;
  --color-var: #ec6608;
  margin: 35px auto 0;
  padding: 7px 33px 8px;
}

.u-section-9 .u-list-item-2 {
  --border-color-var: #c7c7c7;
  --radius: 5px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-image-2 {
  height: 175px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 4px;
  --top-right-radius: 4px;
}

.u-section-9 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-9 .u-text-5 {
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 11px 0;
}

.u-section-9 .u-btn-2 {
  --radius: 5px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 500;
  --color-var: #ec6608;
  --hover-color-var: #ec6608cc;
  margin: 35px auto 0;
  padding: 7px 33px 8px;
}

.u-section-9 .u-list-item-3 {
  --border-color-var: #c7c7c7;
  --radius: 5px;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-image-3 {
  height: 175px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 4px;
  --top-right-radius: 4px;
}

.u-section-9 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-9 .u-text-7 {
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 11px 0;
}

.u-section-9 .u-btn-3 {
  --radius: 5px;
  font-size: 0.875rem;
  background-image: none;
  --hover-color-var: #ec6608cc;
  font-weight: 500;
  --color-var: #ec6608;
  margin: 35px auto 0;
  padding: 7px 33px 8px;
}

.u-section-9 .u-list-item-4 {
  --border-color-var: #c7c7c7;
  --radius: 5px;
}

.u-section-9 .u-container-layout-5 {
  padding: 0;
}

.u-section-9 .u-image-4 {
  height: 175px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 4px;
  --top-right-radius: 4px;
}

.u-section-9 .u-text-8 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-9 .u-text-9 {
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 11px 0;
}

.u-section-9 .u-btn-4 {
  --radius: 5px;
  font-size: 0.875rem;
  background-image: none;
  --hover-color-var: #ec6608cc;
  font-weight: 500;
  --color-var: #ec6608;
  margin: 35px auto 0;
  padding: 7px 33px 8px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-9 .u-group-1 {
    min-height: 450px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 341px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-9 .u-image-1 {
    height: 144px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-9 .u-image-2 {
    height: 144px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-9 .u-image-3 {
    height: 144px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-7 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-bottom: 11px;
  }

  .u-section-9 .u-image-4 {
    height: 144px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-9 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-9 .u-group-1 {
    min-height: 922px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.5px));
    min-height: 819px;
    grid-auto-columns: calc(50% - 5.5px);
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-1 {
    height: 221px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-2 {
    height: 221px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 17px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-3 {
    height: 221px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 17px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-bottom: 15px;
  }

  .u-section-9 .u-image-4 {
    height: 221px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-btn-4 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-9 .u-group-1 {
    min-height: 1810px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1671px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-9 .u-image-1 {
    height: 249px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-9 .u-image-2 {
    height: 249px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-9 .u-image-3 {
    height: 249px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-bottom: 13px;
  }

  .u-section-9 .u-image-4 {
    height: 249px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-9 .u-group-1 {
    min-height: 1608px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    font-weight: 900;
    font-size: 1.125rem;
    margin-top: 24px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1455px;
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-image-1 {
    height: 174px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 33px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-image-2 {
    height: 174px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-text-4 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 33px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-image-3 {
    height: 174px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 33px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-image-4 {
    height: 174px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-text-8 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-9 {
    margin-top: 33px;
    margin-left: 17px;
    margin-right: 17px;
  }
}.subrayado24 {
display: inline-block;
padding-bottom: 45px;
background: linear-gradient(to right, #000000 0% 70%, transparent 70% 75%, #EC6608 75% 100%);
background-size: 100% 3px;
background-repeat: no-repeat;
position: relative;
background-position: 0 27px;
}
.subrayado16 {
display: inline-block;
padding-bottom: 30px;
background: linear-gradient(to right, #000000 0% 70%, transparent 70% 75%, #EC6608 75% 100%);
background-size: 100% 3px;
background-repeat: no-repeat;
position: relative;
background-position: 0 18px;
}