 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/Group1000008027.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 527px;
}

.u-section-1 .u-text-1 {
  font-size: 2.0625rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 368px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 150px;
    margin-bottom: 49px;
  }
} .u-section-2 {
  --color-var: #ec6608;
}

.u-section-2 .u-sheet-1 {
  min-height: 304px;
}

.u-section-2 .u-slider-1 {
  margin-top: 36px;
  margin-bottom: 36px;
  min-height: 233px;
  height: auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 69px;
}

.u-section-2 .u-image-1 {
  width: 154px;
  height: 174px;
  margin: 27px auto 0 10px;
}

.u-section-2 .u-text-1 {
  font-size: 2.1875rem;
  font-weight: 700;
  --text-color-var: #ec6608;
  margin: -100px auto 0 67px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.375rem;
  margin: -71px 209px 0 261px;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 209px 0 261px;
}

.u-section-2 .u-icon-1 {
  width: 252px;
  height: 32px;
  margin: -64px 10px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  --text-color-var: #ec6608;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 16px 827px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 69px;
}

.u-section-2 .u-image-2 {
  width: 154px;
  height: 174px;
  margin: 27px auto 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 2.1875rem;
  font-weight: 700;
  --text-color-var: #ec6608;
  margin: -100px auto 0 67px;
}

.u-section-2 .u-text-6 {
  line-height: 2;
  font-size: 1.375rem;
  margin: -71px 209px 0 261px;
}

.u-section-2 .u-text-7 {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 209px 0 261px;
}

.u-section-2 .u-icon-2 {
  width: 252px;
  height: 32px;
  margin: -64px 10px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  --text-color-var: #ec6608;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 16px 827px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 69px;
}

.u-section-2 .u-image-3 {
  width: 154px;
  height: 174px;
  margin: 27px auto 0 10px;
}

.u-section-2 .u-text-9 {
  font-size: 2.1875rem;
  font-weight: 700;
  --text-color-var: #ec6608;
  margin: -100px auto 0 67px;
}

.u-section-2 .u-text-10 {
  line-height: 2;
  font-size: 1.375rem;
  margin: -71px 209px 0 261px;
}

.u-section-2 .u-text-11 {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 209px 0 261px;
}

.u-section-2 .u-icon-3 {
  width: 252px;
  height: 32px;
  margin: -64px 10px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-12 {
  --text-color-var: #ec6608;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 16px 827px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  left: -48px;
  right: auto;
  position: absolute;
  padding: 0;
}

.u-section-2 .u-carousel-control-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -48px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 29px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -107px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 120px;
    margin-left: 204px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -14px;
    margin-right: 154px;
    margin-left: 204px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -58px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: 714px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -106px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -75px;
    margin-right: 153px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -14px;
    margin-right: 153px;
    margin-left: 205px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -55px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 9px;
    margin-right: 714px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 30px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -106px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -75px;
    margin-right: 153px;
    margin-left: 205px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -14px;
    margin-right: 153px;
    margin-left: 205px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -55px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 9px;
    margin-right: 714px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 217px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -106px;
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -65px;
    margin-right: 89px;
    margin-left: 167px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -15px;
    margin-right: 89px;
    margin-left: 168px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 3px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -60px;
    margin-right: 512px;
    margin-left: 2px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -66px;
    margin-right: 92px;
    margin-left: 167px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 88px;
    margin-left: 167px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -58px;
    margin-right: 517px;
    margin-left: 6px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -66px;
    margin-right: 92px;
    margin-left: 167px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 88px;
    margin-left: 167px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -58px;
    margin-right: 517px;
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 37px;
    margin-bottom: 37px;
    min-height: 228px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 23px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.9444444444444444rem;
    margin-top: -108px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.222222222222222rem;
    margin-top: -64px;
    margin-right: 17px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.3333333333333333rem;
    margin-top: -11px;
    margin-right: 0;
    margin-left: 182px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 21px;
    margin-right: 28px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -71px;
    margin-right: 359px;
    margin-left: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.9444444444444444rem;
    margin-left: 72px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.222222222222222rem;
    margin-top: -65px;
    margin-right: 10px;
    margin-left: 180px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.3333333333333333rem;
    margin-top: -12px;
    margin-right: 12px;
    margin-left: 177px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -65px;
    margin-right: 364px;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.9444444444444444rem;
    margin-left: 72px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.222222222222222rem;
    margin-top: -65px;
    margin-right: 10px;
    margin-left: 180px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.3333333333333333rem;
    margin-top: -12px;
    margin-right: 12px;
    margin-left: 177px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -65px;
    margin-right: 364px;
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 331px;
    width: 314px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 114px;
    height: 129px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -83px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -13px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 174px;
    margin-top: -205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 114px;
    height: 129px;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -80px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 56px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    margin-top: -13px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 143px;
    margin-top: -201px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    width: 114px;
    height: 129px;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: -80px;
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 56px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    margin-top: -13px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    width: 143px;
    margin-top: -201px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 158px;
}

.u-section-3 .u-group-1 {
  min-height: 143px;
  margin-top: 1px;
  margin-bottom: 14px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 14px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 68px;
}

.u-section-4 .u-form-1 {
  margin-bottom: 1px;
  height: 67px;
  margin-top: 1px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-input-1 {
  --radius: 5px;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-input-2 {
  --radius: 5px;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-input-3 {
  --radius: 5px;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-input-4 {
  --radius: 5px;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-input-5 {
  --radius: 5px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-group-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-form-group-2 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-form-group-3 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-form-group-4 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-form-group-5 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-form-1 {
    height: 680px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-4 .u-form-group-1 {
    margin-bottom: 10px !important;
  }

  .u-section-4 .u-form-group-2 {
    margin-bottom: 10px !important;
  }

  .u-section-4 .u-form-group-3 {
    margin-bottom: 10px !important;
  }

  .u-section-4 .u-form-group-4 {
    margin-bottom: 10px !important;
  }

  .u-section-4 .u-form-group-5 {
    margin-bottom: 0;
  }

  .u-section-4 .u-input-5 {
    height: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-4 .u-form-1 {
    margin-bottom: 16px;
  }

  .u-section-4 .u-form-group-5 {
    margin-bottom: 10px !important;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 232px;
}

.u-section-5 .u-group-1 {
  min-height: 231px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-table-1 {
  width: 1139px;
  margin: 0 auto;
}

.u-block-1dd3-10 {
  height: 46px;
}

.u-section-5 .u-table-body-1 {
  font-size: 0.75rem;
}

.u-section-5 .u-table-cell-1 {
  background-image: none;
  margin-left: 0;
  margin-right: 911px;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-2 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1rem;
  --border-color-var: #ec6608;
  background-image: none;
  --color-var: #ec6608;
}

.u-section-5 .u-table-cell-4 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  --color-var: #ec6608cc;
}

.u-section-5 .u-table-cell-5 {
  background-image: none;
  margin-left: 911px;
  margin-right: 0;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-6 {
  background-image: none;
  margin-left: 911px;
  margin-right: 0;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-5 .u-table-cell-7 {
  background-image: none;
}

.u-section-5 .u-table-cell-8 {
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  background-image: none;
}

.u-section-5 .u-table-cell-11 {
  background-image: none;
}

.u-section-5 .u-table-cell-12 {
  background-image: none;
}

.u-block-1dd3-33 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-table-1 {
    width: 940px;
  }

  .u-section-5 .u-table-cell-1 {
    margin-right: 751px;
    --color-var: #ec6608;
  }

  .u-section-5 .u-table-cell-5 {
    margin-left: 751px;
  }

  .u-section-5 .u-table-cell-6 {
    margin-left: 751px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-table-1 {
    width: 720px;
  }

  .u-section-5 .u-table-cell-1 {
    margin-right: 575px;
  }

  .u-section-5 .u-table-cell-5 {
    margin-left: 575px;
  }

  .u-section-5 .u-table-cell-6 {
    margin-left: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-table-1 {
    width: 540px;
  }

  .u-section-5 .u-table-cell-1 {
    margin-right: 431px;
  }

  .u-section-5 .u-table-cell-5 {
    margin-left: 431px;
  }

  .u-section-5 .u-table-cell-6 {
    margin-left: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-5 .u-group-1 {
    min-height: 304px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-table-cell-1 {
    margin-right: 263px;
  }

  .u-section-5 .u-table-cell-5 {
    margin-left: 275px;
  }

  .u-section-5 .u-table-cell-6 {
    margin-left: 275px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 96px;
}

.u-section-6 .u-group-1 {
  min-height: 94px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 33px 785px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-6 .u-group-1 {
    min-height: 93px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 63px;
  }

  .u-section-6 .u-group-1 {
    min-height: 63px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-6 .u-group-1 {
    min-height: 68px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 23px;
    margin-right: 12px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 229px;
}

.u-section-7 .u-group-1 {
  min-height: 198px;
  margin-top: 1px;
  margin-bottom: 30px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 763px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  --radius: 20px;
  min-height: 181px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 27px 0;
}

.u-section-7 .u-icon-1 {
  width: 202px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  --radius: 20px;
  min-height: 181px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-7 .u-icon-2 {
  width: 206px;
  height: 44px;
  margin: 28px auto 0;
  padding: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 181px;
  --radius: 20px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-7 .u-icon-3 {
  width: 206px;
  height: 45px;
  margin: 28px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    --radius: 10px;
  }

  .u-section-7 .u-layout-cell-1 {
    --color-var: #ec6608;
    transition-duration: 0.5s;
    filter: none;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-7 .u-icon-1 {
    margin-top: 32px;
  }

  .u-section-7 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-7 .u-layout-cell-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 171px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 28px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 171px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    min-height: 534px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 21px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 167px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    min-height: 441px;
    margin-bottom: 15px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 135px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
  }
}

.u-section-7 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-7 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-7 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-7 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-7 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}